.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;
  width: 100%;
  margin: 1rem;
  padding: 1rem;
  gap: 2.5rem;
}

.grid {
  width: 100%;
  gap: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

@media (max-width: 970px) {
  .content {
    flex-direction: column;
  }
}
